<!doctype html>
<html lang="pl">
<head>
    <title>pdrzewiecki.pl</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block css %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
<div id="app">
    <div class="container">
        <div class="row">
            <div class="col-md-4 panel-left">
                <h1>Paweł Drzewiecki<br>fullstack dev. <span class="hello">Hello</span>!</h1>
            </div>
            <div class="col-md-8">
                <main class="content">
                    {% block body %}
                </main>
            </div>
        </div>
    </div>
    {% endblock %}
</div>
{% block js %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>